footer {
    background: url(../img/bg-footer.jpg)center/ cover;
    height: 250px;

    @media screen and(max-width: 940px) {
        background: none;
    }
    .f-container {
        display: flex;
        align-items: center;
        justify-content:flex-start;
        max-width: 950px;
        margin: 0 auto;

        .f-left {
            width: 50%;
            padding-right: 30px;
            margin-top: 50px;
            margin-bottom: 20px;
            
            @media screen and(max-width: 940px) {
                display: none;
            }
           
            .f-text {
                h3 {
                    text-align: left;
                }
                p {
                    color: $color3;
                    font-family: $font3;
                    font-weight: 300;
                    font-size: .9rem;
                    // letter-spacing: 1px;
                    // line-height: 2rem;
                    line-height: 30px;
                    text-align: left;
                    margin-top: 10px;
                    
                }
               
            }
            
        }
        .f-social-grid {
            color: $color3;
            margin-top: 40px;
            margin-left: 40px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 30px;

            @media screen and(max-width: 640px) {
                margin-right: 0px;
                
            }

            .newsletter, h4 {
                color: $color1;
                font-weight: 400;
                font-family: $font2;
                text-align: left;
            }
            input {
                background: none;
                border: 1px solid $color4;
                opacity: .5;
                text-align: left;
                padding: 10px;
                height: 35px;
                width: 250px;
                margin-top: -20px;
                font-family: $font3;
                font-size: .9rem;
                font-weight: 800;

                @media screen and(max-width: 340px) {
                   width: 150px;
                    
                }
                
            }

            .socialmedias {
                display: flex;
                justify-content: space-around;
                align-items: center;

                i {
                    font-size: .8rem;
                    margin-left: 30px;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.5);
                    }

                    @media screen and(max-width: 340px) {
                        margin-left: 10px;
                         
                     }
                }
            }
        }
    }
}