header {
    color: $color1;
    position: relative;
    min-height: 100vh;
    background: url(../img/bg-slider-06.jpg)  center/cover;
    
    nav, .nav-center, .nav-left, .nav-right {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li, a {
            margin-top: 30px;
            text-decoration: none;
            color: $color1;
        }
    }

    .nav-left {
        font-family: $font1;
        font-size: 1.8rem;
        font-weight: 800;
        margin-left: 10%;
    }
    .nav-center {
        font-family: $font3;
        font-size: 0.6rem;

        @media screen and(max-width: 940px) {
            display: none;
        }

        li{
        text-transform: uppercase;
        padding: 0 40px;
        }
    }
    .nav-right {
        margin-right: 10%;
        li {
            display: flex;
            padding: 0 8px;

            i {
                cursor: pointer;
                transition: .2s;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
    .header-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        transform: translateY(50%);

        @media screen and(max-width: 550px) {
          margin-top: -10px;
         
           h1 {
            font-size: 2rem;
           } 
           p {
            font-size: 0.7rem;
           }
          
        }
        
        h1 {
            font-family: $font2;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 700;
            font-size: 3.2rem;
            margin-top: -28px;
            
        }
        img {
            margin: 30px;
        }
        p {
            font-family: $font3;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-top: 30px;
        }
    }
}