.flex-container {
    display: flex;

    .left-part {
        width: 50%;
        background: $color2;
        text-align: center;

        .lp-box {
            margin: 10px;
            padding: 15px;
            border: 1px $color4 dashed;

            img {
                width: 25px;
                margin: 20px;
            }
            .avatar {
                border-radius: 50px;
                width: 10%;
                height: 10%;
                margin: 10px;
            }
            h3 {
                letter-spacing: none;
                font-size: 1.8rem;
            }
            h4 {
                font-weight: 500;
                font-family: $font2;
                font-size: 1.2rem;
            }
            h2 {
                font-family: $font2;
                font-weight: 600;
                font-size: 1.2rem;
                text-transform: uppercase;
                transform: translateY(-50%);
            }
        }
    }
    .right-part {
        background: url(../img/store-01.jpg)center/cover;
        width: 50%;

        
        
    }
}
// section2
.section2 {

    .top-part {
        
            text-align: center;
            padding: 60px 0 100px;
         
            
            img {
                width: 25px;
                margin: 20px;
            }
        

        ul {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            
            margin-top: 30px;

            
            a {
            font-size: 1.1rem;
            color: $color1;
            margin: 50px;
            text-decoration: none;
            position: relative;            
                
            }
            a:after { 
                content: ''; 
                color: $color1;
                width: 100%; 
                position: absolute; 
                left: 0; 
                bottom: -8px; 
                border-width: 0 0 1px; 
                border-style: solid; 
            }
        }
    }
    .bottom-part {
       background: url(../img/bg-menu-01.jpg)center/cover;
       width: 100%;
       height: 600px;
       margin-top: 80px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 1.5em;
        border-top: solid 5px $color4;
        background: $color2;
        color: $color6;
        z-index: 10;
        transform: translateY(-145%);

        .menu {
            font-family: $font3;
            font-size: 16px;
           
        }

        .menu-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3,1fr);

            @media screen and(max-width: 940px) {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1.5em;
                padding: 1.5em 0;
            }
        }
        .menu-item {
            display: flex;
            padding: 20px 0;
            border-bottom: dashed 2px $color3 ;
            max-width: 340px;

            .menu-item-image {
                border-radius: 50px;
                width: 70px;
                height: 70px;
                flex-shrink: 0;
                margin-right: 1em;
            }
            .menu-item-text {
                width: 50%;
            }
            .menu-item-price {
               font-weight: 800;
                color: $color4;
                width: 30%;
                text-align: right;
                justify-content: center;
            }
        }
    }
}

// section3
.container-section3 {
    max-width: 950px;
    margin: 0 auto;
    z-index: 4;
    transform: translateY(-450px);
    display: flex;

    .opening-time {
        width: 30%;
        background: $color6;
        color: $color1;
         padding: 1.5em;
        
        .container-ot {
            border: 1px dashed $color1;
            padding: 20px;
           text-align: center;

           .cot-item {
            img {
                margin: 20px;
            }
            h2 {
                font-family: $font2;
                letter-spacing: 2px;
                transform: translateY(-20px);
            }
            h4 {
                color: $color4;
                margin: 30px 0 20px;
                letter-spacing: 1px;
            }
            p {
                font-size: 0.8rem;
            }
           }
        }
    }

    .booking {
        background: $color2;
        width: 70%;
        text-align: center;
        .booking-top {

            margin: 50px auto;
            h2 {
                color: $color6;
                font-family: $font2;
                font-weight: 900;
                font-size: 1.7rem;
                letter-spacing: 1px;
                transform: translateY(-15px);
            }
           
        }
        .booking-container {
            margin: 20px 30px 20px 50px;
        
        .grid-booking {
            display: grid;
            grid-template-columns:30% 30% 30%;
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            select, input {
                font-size: .8rem;
                font-family: $font3;
                border: none;
                background: $color2;
            }
            .gcb-item {
               align-items: center;
               padding: 20px 10px;
               text-align: start;
               border-bottom: 1px solid $color3;
               
            }
           
        }
        input.button {
            background: $color6;
            color: $color1;
            font-family: $font2;
            font-weight: 400;
            letter-spacing: 4px;
            margin-top: 30px;
            border-radius: 60px;
            padding: 10px;
            width: 160px;
            text-align: center;
            align-items: center;
            justify-content: center;
           
        }
    }
    }
}

// SECTION4
.event-part {
    transform: translateY(-350px);
    text-align: center;
    h2 {
        color: $color1;
        font-family: $font2;
        font-weight: 900;
        font-size: 1.7rem;
        letter-spacing: 1px;
        transform: translateY(-10px);
    }
    img {
        margin: 20px;

    }
}
.event-grid {
    width: 65%;
    height: 300px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas:"card1 card3" 
    "card2 card3" ;

    .grid-card1 {
        grid-area: card1;
        
    }
    .grid-card2 {
        grid-area: card2;
        
    }
    .grid-card3 {
        grid-area: card3;
        background: url(../img/event-03.jpg) center/cover;
        position: relative;
    }
    .date-container {
        display: flex;
        height: 70px;
        width: 70px;
        background: $color6;
        color: $color1;
        font-family: $font3;
        font-size: .8rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        .date {
          
            h4 {
                font-weight: 800;
                font-size: 1.2rem;
            }
        }
        
    }
    .grid-card1, .grid-card2 {
        
        display: flex;
        .img-part {
            width: 35%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        }
        .text-part {
            width: 65%;
            background: $color1;
            color: $color6;
        }
    }
  
   
     
}

