
$font1: 'Allura', cursive;
$font2: 'Poppins', sans-serif;
$font3: 'Roboto', sans-serif;
$color1: rgb(255, 255, 255);
$color2: rgb(199, 191, 191);
$color3: grey;
$color4: rgb(193, 184, 13);
$color5: rgb(51, 50, 50);
$color6:rgb(25, 25, 25);

body {
    font-family: $font3;
}