
$font1: 'Allura', cursive;
$font2: 'Poppins', serif;
$font3: 'Roboto', serif;
$color1: rgb(255, 255, 255);
$color2: rgb(237, 231, 231);
$color3: rgb(157, 157, 157);
$color4: rgb(201, 150, 89);
$color5: rgb(51, 50, 50);
$color6:rgb(25, 25, 25);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font3;
    background: $color5;
    text-align: center;
}
h3 {
    font-family: $font1;
    font-weight: 400;
    color: $color4;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
li {
    list-style: none;
}