* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(51, 50, 50);
}

h3 {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: rgb(201, 150, 89);
  font-size: 2.5rem;
  letter-spacing: 2px;
}

header {
  color: rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
}
header nav, header .nav-center, header .nav-left, header .nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav li, header nav a, header .nav-center li, header .nav-center a, header .nav-left li, header .nav-left a, header .nav-right li, header .nav-right a {
  margin-top: 30px;
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header .nav-left {
  font-family: "Allura", cursive;
  font-size: 1.8rem;
  font-weight: 800;
  margin-left: 10%;
}
header .nav-center {
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
}
@media screen and (max-width: 940px) {
  header .nav-center {
    display: none;
  }
}
header .nav-center li {
  text-transform: uppercase;
  padding: 0 40px;
}
header .nav-right {
  margin-right: 10%;
}
header .nav-right li {
  display: flex;
  padding: 0 8px;
}
header .header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  transform: translateY(50%);
}
@media screen and (max-width: 550px) {
  header .header-center h1, header .header-center p {
    letter-spacing: 2px;
  }
  header .header-center p {
    font-size: 0.7rem;
  }
}
header .header-center h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 2.5rem;
  transform: translateY(-40%);
}
header .header-center img {
  margin: 30px;
}
header .header-center p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 30px;
}

.flex-container {
  display: flex;
}
.flex-container .left-part {
  width: 50%;
  background: rgb(237, 231, 231);
  text-align: center;
}
.flex-container .left-part .lp-box {
  margin: 10px;
  padding: 15px;
  border: 1px rgb(201, 150, 89) dashed;
}
.flex-container .left-part .lp-box img {
  width: 25px;
  margin: 20px;
}
.flex-container .left-part .lp-box .avatar {
  border-radius: 50px;
  width: 10%;
  height: 10%;
  margin: 10px;
}
.flex-container .left-part .lp-box h3 {
  letter-spacing: none;
  font-size: 1.8rem;
}
.flex-container .left-part .lp-box h4 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.flex-container .left-part .lp-box h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  transform: translateY(-50%);
}
.flex-container .right-part {
  background: url(../img/store-01.jpg) center/cover;
  width: 50%;
}

.section2 .top-part {
  text-align: center;
  padding: 60px 0 100px;
}
.section2 .top-part img {
  width: 25px;
  margin: 20px;
}
.section2 .top-part ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 30px;
}
.section2 .top-part ul a {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  margin: 50px;
  text-decoration: none;
  position: relative;
}
.section2 .top-part ul a:after {
  content: "";
  color: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-width: 0 0 1px;
  border-style: solid;
}
.section2 .bottom-part {
  background: url(../img/bg-menu-01.jpg) center/cover;
  width: 100%;
  height: 600px;
  margin-top: 80px;
}
.section2 .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em;
  border-top: solid 5px rgb(201, 150, 89);
  background: rgb(237, 231, 231);
  color: rgb(25, 25, 25);
  z-index: 10;
  transform: translateY(-145%);
}
.section2 .container .menu {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.section2 .container .menu-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
@media screen and (max-width: 940px) {
  .section2 .container .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
}
.section2 .container .menu-item {
  display: flex;
  padding: 20px;
  border-bottom: dashed 2px rgb(157, 157, 157);
  max-width: 340px;
}
.section2 .container .menu-item .menu-item-image {
  border-radius: 50px;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  margin-right: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */